@model SongJoinIndexViewModel<ArtistInfo>
@{

    ViewData["CurrentSongEditTab"] = "Artists";
    ViewData["Song"] = Model.Song;
}

<a class="btn btn-primary" asp-action="Add"
        asp-route-songId="@Model.Song.Id">
    Add artist to song
</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Artist ID</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var artist in Model.Items)
        {
            <tr>
                <td>@artist.Id</td>
                <td>@artist.Name</td>
                <td>
                    <form asp-action="Remove">
                        <input name="songId" value="@Model.Song.Id" hidden />
                        <input name="Id" value="@artist.Id" hidden />
                        <button class="btn btn-link">Remove from song</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>